* {
	outline: 0;
	box-sizing: border-box;
}

html,
body,
main {
	margin: 0;
	width: 100%;
	height: 100%;
}

.center {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#helper-text {
  font-size: 30px;
}

#menu-container {
  display: none;
	width: 300px;
	border: 2px solid black;
	background-color: rgba(102, 102, 102, 0.6);
	color: white;
}

#selection-container, #play-container {
	margin: 10px;
	border: 1px solid black;
	width: calc(100% - 20px);
	background-color: rgba(255, 255, 255, 0.4);
}

#armor-select {
	margin: 5px;
}

#gun-select {
	margin: 0 5px 5px;
}

select {
	margin: 5px;
	border: 1px solid black;
	width: calc(100% - 10px);
	height: 40px;
	color: white;
	background-color: red;
	font-size: 16px;
  text-align-last: center;
}

#name-input,
#play-button {
	border: 1px solid black;
	width: calc(100% - 10px);
	height: 40px;
}

#name-input {
  margin: 5px 5px 0;
	padding: 20px 10px;
	font-size: 16px;
	text-align: center;
}

#play-button {
  margin: 5px;
	color: white;
	background-color: green;
	font-size: 20px;
}

#chat-input {
  position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: none;
  border: 2px solid black;
  width: 200px;
  height: 30px;
  font-size: 16px;
}
